@using ProjetoArtCouro.Resource.Resources
@if (Request.Path.Contains("FormaPagamento"))
{
    <div class="modal fade" id="modalFormaPagamento" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">@Mensagens.FormOfPayment</h4>
                </div>
                <div class="modal-body">
                    <form id="formModalFormaPagamento" class="smart-form" novalidate="novalidate">
                        <div class="row">
                            <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <label class="label" for="ModalFormaPagamentoDescricao">@Mensagens.Description</label>
                                <label class="input">
                                    <input data-val="true" data-val-required="@Erros.RequiredField" id="ModalFormaPagamentoDescricao"
                                           name="Descricao" placeholder="@Mensagens.Description" maxlength="30" type="text" value="">
                                </label>
                                <span class="field-validation-valid" data-valmsg-for="Descricao" data-valmsg-replace="true"></span>
                            </section>
                            <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <label class="label" for="ModalFormaPagamentoAtivo">@Mensagens.Active</label>
                                <div class="inline-group">
                                    <label class="radio">
                                        <input data-text="Sim" data-val="true" data-val-required="@Erros.RequiredField" id="ModalFormaPagamentoAtivo"
                                               name="Ativo" type="radio" value="True">
                                        <i></i>@Mensagens.Yes
                                    </label>
                                    <label class="radio">
                                        <input data-text="Não" id="ModalFormaPagamentoAtivo" name="Ativo" type="radio" value="False">
                                        <i></i>@Mensagens.Not
                                    </label>
                                </div>
                                <span class="field-validation-valid" data-valmsg-for="Ativo" data-valmsg-replace="true"></span>
                            </section>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-labeled btn-default" href="javascript:void(0);" data-dismiss="modal">
                        <span class="btn-label"><i class="fa fa-times"></i></span> @Mensagens.Close
                    </a>
                    <a id="AtualizarFormaPagamento" class="btn btn-labeled btn-primary" href="javascript:void(0);">
                        <span class="btn-label"><i class="fa fa-floppy-o"></i></span> @Mensagens.Save
                    </a>
                </div>
            </div>
        </div>
    </div>
}