@using ProjetoArtCouro.Resource.Resources

<aside id="left-panel">
    <div class="login-info">
        <span>
            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="/img/avatars/sunny.png" alt="me" class="online">
                <span>
                </span>
                <i class="fa fa-angle-down"></i>
            </a>
        </span>
    </div>
    <nav>
        <ul>
            <li class="active">
                <a href="/" title="Home"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">@Mensagens.Home</span></a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
                    <span class="menu-item-parent">@Mensagens.Register</span>
                    <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
                </a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Person</a>
                        <ul>
                            <li>
                                @Html.ActionLink(Mensagens.Client, "Index", "Cliente")
                            </li>
                            <li>
                                @Html.ActionLink(Mensagens.Provider, "Index", "Fornecedor")
                            </li>
                            <li>
                                @Html.ActionLink(Mensagens.Employee, "Index", "Funcionario")
                            </li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.Product, "Index", "Produto")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.FormOfPayment, "Index", "FormaPagamento")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.PaymentTerms, "Index", "CondicaoPagamento")
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-lg fa-fw fa-table"></i>
                    <span class="menu-item-parent">@Mensagens.Operations</span>
                    <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
                </a>
                <ul>
                    <li>
                        @Html.ActionLink(Mensagens.Buy, "Index", "Compra")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.Sale, "Index", "Venda")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.AccountsPayable, "Index", "ContaPagar")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.AccountsReceivable, "Index", "ContaReceber")
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                    <span class="menu-item-parent">@Mensagens.Report</span>
                    <b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b>
                </a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Stock</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">@Mensagens.Information</span></a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.GroupSettings</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.SettingsForUsers</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu"><i class="fa fa-arrow-circle-left hit"></i></span>
</aside>