@using ProjetoArtCouro.Resource.Resources

<aside id="left-panel">
    <div class="login-info">
        <span>
        </span>
    </div>
    <nav>
        <ul>
            <li>
                <a href="/" title="Home">
                    <i class="fa fa-lg fa-fw fa-home"></i>
                    <span class="menu-item-parent">@Mensagens.Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-lg fa-fw fa-bar-chart-o"></i>
                    <span class="menu-item-parent">@Mensagens.Register</span>
                </a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Person</a>
                        <ul>
                            @if (User.IsInRole("PesquisaCliente"))
                            {
                            <li>
                                @Html.ActionLink(Mensagens.Client, "PesquisaCliente", "Cliente")
                            </li>
                            }
                            <li>
                                @Html.ActionLink(Mensagens.Provider, "PesquisaFornecedor", "Fornecedor")
                            </li>
                            <li>
                                @Html.ActionLink(Mensagens.Employee, "PesquisaFuncionario", "Funcionario")
                            </li>
                        </ul>
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.Product, "PesquisaProduto", "Produto")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.FormOfPayment, "PesquisaFormaPagamento", "FormaPagamento")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.PaymentTerms, "PesquisaCondicaoPagamento", "CondicaoPagamento")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.Users, "PesquisaUsuario", "Usuario")
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-lg fa-fw fa-table"></i>
                    <span class="menu-item-parent">@Mensagens.Operations</span>
                </a>
                <ul>
                    <li>
                        @Html.ActionLink(Mensagens.Buy, "PesquisaCompra", "Compra")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.Sale, "PesquisaVenda", "Venda")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.AccountsPayable, "PesquisaContaPagar", "ContaPagar")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.AccountsReceivable, "PesquisaContaReceber", "ContaReceber")
                    </li>
                    
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-lg fa-fw fa-pencil-square-o"></i>
                    <span class="menu-item-parent">@Mensagens.Report</span>
                </a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Stock</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i class="fa fa-lg fa-fw fa-calendar"></i>
                    <span class="menu-item-parent">@Mensagens.Information</span>
                </a>
                <ul>
                    <li>
                        @Html.ActionLink(Mensagens.GroupSettings, "PesquisaGrupo", "Configuracao")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.SettingsForUsers, "ConfiguracaoUsuario", "Configuracao")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.ChangePassword, "AlterarSenha", "Usuario")
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu"><i class="fa fa-arrow-circle-left hit"></i></span>
</aside>