@using ProjetoArtCouro.Resource.Resources

<aside id="left-panel">

    <!-- User info -->
    <div class="login-info">
        <span>
            <!-- User image size is adjusted inside CSS, it should stay as is -->

            <a href="javascript:void(0);" id="show-shortcut" data-action="toggleShortcut">
                <img src="/img/avatars/sunny.png" alt="me" class="online">
                <span>
                </span>
                <i class="fa fa-angle-down"></i>
            </a>

        </span>
    </div>
    <!-- end user info -->

    <!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
    <nav>
        <!-- 
				NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

        <ul>
            <li class="active">
                <a href="/" title="Home"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">@Mensagens.Home</span></a>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i><span class="menu-item-parent">@Mensagens.Register</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Person</a>
                        <ul>
                            <li>
                                @Html.ActionLink(Mensagens.Client, "Index", "Cliente")
                            </li>
                            <li>
                                @Html.ActionLink(Mensagens.Provider, "Index", "Fornecedor")
                            </li>
                            <li>
                                @Html.ActionLink(Mensagens.Employee, "Index", "Funcionario")
                            </li>
                       </ul>
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.Product, "Index", "Produto")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.FormOfPayment, "Index", "FormaPagamento")
                    </li>
                    <li>
                        @Html.ActionLink(Mensagens.PaymentTerms, "Index", "CondicaoPagamento")
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-lg fa-fw fa-table"></i><span class="menu-item-parent">@Mensagens.Operations</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Buy</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Sale</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.AccountsPayable</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.AccountsReceivable</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-lg fa-fw fa-pencil-square-o"></i><span class="menu-item-parent">@Mensagens.Report</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Stock</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0)"><i class="fa fa-lg fa-fw fa-calendar"></i> <span class="menu-item-parent">@Mensagens.Information</span></a>
                <ul>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.GroupSettings</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.SettingsForUsers</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">@Mensagens.Updates</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="minifyme" data-action="minifyMenu"><i class="fa fa-arrow-circle-left hit"></i></span>
</aside>
