@model  ProjetoArtCouro.Model.Models.Cliente.ClienteModel
@using ProjetoArtCouro.Resource.Resources

<div class="jarviswidget jarviswidget-sortable"
     data-widget-editbutton="true" data-widget-colorbutton="true"
     data-widget-fullscreenbutton="true" data-widget-collapsed="true"
     data-widget-custombutton="true" data-widget-togglebutton="true"
     data-widget-sortable="true" data-widget-deletebutton="true" role="widget" style="">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>@Mensagens.SearchCliente </h2>
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>
    <div role="content">
        <div id="AlertaMensagens" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding"></div>
        <div class="widget-body no-padding">
            <form id="formPesquisaCliente" class="smart-form" novalidate="novalidate">
                <fieldset class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-7">
                            @Html.LabelFor(m => m.Nome, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.Nome, new {placeholder = @Mensagens.Name})
                            </label>
                            @Html.ValidationMessageFor(m => m.Nome)
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-5">
                            @Html.LabelFor(m => m.CPF, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.CPF, new {placeholder = @Mensagens.CPFCNPJ})
                            </label>
                            @Html.ValidationMessageFor(m => m.CPF)
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @Html.LabelFor(m => m.RG, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.RG, new {placeholder = @Mensagens.Email})
                            </label>
                            @Html.ValidationMessageFor(m => m.RG)
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @Html.LabelFor(m => m.Sexo, new {@class = "label"})
                            <label class="input">
                                @Html.TextBoxFor(m => m.Sexo, new {placeholder = @Mensagens.Code})
                            </label>
                            @Html.ValidationMessageFor(m => m.Sexo)
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @Html.LabelFor(m => m.EstadoCivilId, new { @class = "label" })
                            <label class="select">
                                @Html.DropDownListFor(m => m.EstadoCivilId, new SelectList(ViewBag.BusinessLineList, "Id", "Name"), new { placeholder = @Mensagens.Code })
                            </label>
                            @Html.ValidationMessageFor(m => m.EstadoCivilId)
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a id="PesquisarCliente" class="btn btn-primary" href="javascript:void(0);">
                        <i class="fa fa-search"></i> @Mensagens.Research
                    </a>
                    <a id="NovoCliente" class="btn btn-success" href="@Url.Action("NovoCliente", "Cliente")">
                        <i class="fa fa-file-o"></i> @Mensagens.New
                    </a>
                </footer>
            </form>
            <fieldset class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                @*<div class="dt-toolbar">
                        <div class="col-xs-12 col-sm-6">
                            <div id="datatable_tabletools_filter" class="dataTables_filter">
                                <label><span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span> <input type="search" class="form-control" placeholder="" aria-controls="datatable_tabletools"></label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-6 hidden-xs">
                            <div class="DTTT btn-group">
                                <a class="btn btn-default DTTT_button_copy" id="ToolTables_datatable_tabletools_0">
                                    <span>Copy</span><div style="position: absolute; left: 0px; top: 0px; width: 54px; height: 31px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_1" src="/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="54" height="31" name="ZeroClipboard_TableToolsMovie_1" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=1&amp;width=54&amp;height=31" wmode="transparent">
                                    </div>
                                </a><a class="btn btn-default DTTT_button_csv" id="ToolTables_datatable_tabletools_1">
                                    <span>CSV</span><div style="position: absolute; left: 0px; top: 0px; width: 48px; height: 31px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_2" src="/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="48" height="31" name="ZeroClipboard_TableToolsMovie_2" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=2&amp;width=48&amp;height=31" wmode="transparent">
                                    </div>
                                </a><a class="btn btn-default DTTT_button_xls" id="ToolTables_datatable_tabletools_2">
                                    <span>Excel</span><div style="position: absolute; left: 0px; top: 0px; width: 54px; height: 31px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_3" src="/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="54" height="31" name="ZeroClipboard_TableToolsMovie_3" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=3&amp;width=54&amp;height=31" wmode="transparent">
                                    </div>
                                </a><a class="btn btn-default DTTT_button_pdf" id="ToolTables_datatable_tabletools_3">
                                    <span>PDF</span><div style="position: absolute; left: 0px; top: 0px; width: 48px; height: 31px; z-index: 99;">
                                        <embed id="ZeroClipboard_TableToolsMovie_4" src="/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="48" height="31" name="ZeroClipboard_TableToolsMovie_4" align="middle" allowscriptaccess="always" allowfullscreen="false" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="id=4&amp;width=48&amp;height=31" wmode="transparent">
                                    </div>
                                </a><a class="btn btn-default DTTT_button_print" id="ToolTables_datatable_tabletools_4" title="View print view"><span>Print</span></a>
                            </div>
                        </div>
                    </div>*@
                <table id="datatableCliente" class="table table-striped table-bordered table-hover dataTable no-footer" role="grid" style="width: 100%; display: none">
                    <thead>
                    </thead>
                    <tbody></tbody>
                </table>
            </fieldset>
        </div>
    </div>
</div>


