@model ProjetoArtCouro.Model.Models.Fornecedor.PesquisaFornecedorModel
@using ProjetoArtCouro.Resources.Resources


<div class="jarviswidget jarviswidget-sortable"
     data-widget-editbutton="true" data-widget-colorbutton="true"
     data-widget-fullscreenbutton="true" data-widget-collapsed="true"
     data-widget-custombutton="true" data-widget-togglebutton="true"
     data-widget-sortable="true" data-widget-deletebutton="true" role="widget" style="">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>@Mensagens.SearchSupplier </h2>
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>
    <div role="content">
        <div class="widget-body no-padding">
            <form id="formPesquisaFornecedor" class="smart-form" novalidate="novalidate">
                <fieldset>
                    <div class="row">
                        <section id="AlertaMensagens" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin"></section>
                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-7">
                            @Html.LabelFor(m => m.Nome, new {@class = "label"})
                            <label class="input">
                                @Html.TextBoxFor(m => m.Nome, new {placeholder = @Mensagens.Name})
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-5">
                            @Html.LabelFor(m => m.CPFCNPJ, new {@class = "label"})
                            <label class="input">
                                @Html.TextBoxFor(m => m.CPFCNPJ, new {placeholder = @Mensagens.CPFCNPJ, MaxLength = "18", @class = "CpfCnpjMask"})
                            </label>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.Email, new {@class = "label"})
                            <label class="input">
                                @Html.TextBoxFor(m => m.Email, new {placeholder = @Mensagens.Email})
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.CodigoFornecedor, new {@class = "label"})
                            <label class="input">
                                @Html.TextBoxFor(m => m.CodigoFornecedor, new {placeholder = @Mensagens.Code})
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.EPessoaFisica, new {@class = "labe"})
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.EPessoaFisica, true, new {@class = "TipoPessoa"})
                                    <i></i>@Mensagens.PhysicalPerson
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.EPessoaFisica, false, new {@class = "TipoPessoa"})
                                    <i></i>@Mensagens.LegalPerson
                                </label>
                            </div>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a id="PesquisarFornecedor" class="btn btn-labeled btn-primary" href="javascript:void(0);">
                        <span class="btn-label"><i class="fa fa-search"></i></span> @Mensagens.Research
                    </a>
                    <a id="NovoFornecedor" class="btn btn-labeled btn-success" href="@Url.Action("NovoFornecedor", "Fornecedor")">
                        <span class="btn-label"><i class="fa fa-file-o"></i></span> @Mensagens.New
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>
<fieldset class="WidgetFornecedor ScrollWidgetTable">
    <div class="jarviswidget jarviswidget-color-blueDark" data-widget-fullscreenbutton="false"
         data-widget-colorbutton="false" data-widget-togglebutton="false"
         data-widget-deletebutton="false" data-widget-editbutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Tabela de Fornecedores</h2>
        </header>
        <div class="ScrollTableContent">
            <div class="widget-body no-padding">
                <table id="datatableFornecedor" class="table table-striped table-bordered table-hover" width="100%"></table>
            </div>
        </div>
    </div>
</fieldset>

@section Scripts{
    <script src="~/js/app/Search.js"></script>
    <script>
        Portal.Mask();
        Portal.Form({
            Button: $("#Salvar"),
            Form: $("#smart-form-register")
        });
        Portal.Search({
            AlertaMensagensSeletor: "#AlertaMensagens",
            BotaoPesquisarSeletor: "#PesquisarFornecedor",
            FormularioSeletor: "#formPesquisaFornecedor",
            UrlDados: "@Url.Action("PesquisaFornecedor", "Fornecedor")",
            TabelaSeletor: "#datatableFornecedor",
            WidgetSeletor: ".WidgetFornecedor",
            TituloRodape: "Fornecedores",
            InformacaoTabela: "Informe os filtros para pesquisar",
            TituloRodapeContador: "Nenhum fornecedor",
            OrdenacaoDoCabecalho: [
                { "sTitle": "@(Mensagens.Code)", "mData": "Codigo", "sWidth": "10%" },
                {
                    "sTitle": "@(Mensagens.Name)",
                    "mData": null,
                    "sWidth": "40%",
                    "mRender": function (obj) {
                        return obj.Nome != null && obj.Nome !== "" ? obj.Nome : obj.RazaoSocial;
                    }
                },
                {
                    "sTitle": "@(Mensagens.CPFCNPJ)",
                    "mData": null,
                    "sWidth": "20%",
                    "mRender": function (obj) {
                        return obj.CPF != null && obj.CPF !== "" ? obj.CPF : obj.CNPJ;
                    }
                },
                {
                    "sTitle": "@(Mensagens.Email)",
                    "mData": null,
                    "sWidth": "20%",
                    "mRender": function (obj) {
                        return obj.MeioComunicacao.Email === null || "" ? "N/I" : obj.MeioComunicacao.Email;
                    }
                },
                {
                    "sTitle": "@(Mensagens.Actions)",
                    "mData": null,
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "10%",
                    "mRender": function (obj) {
                        var url = "/Fornecedor/EditarFornecedor" + "?codigoFornecedor=" + obj.Codigo;
                        var botoes = Portal.CriarBotoes(url,
                                "Portal.RequisicaoDeletarLinha(\"/Fornecedor/ExcluirFornecedor\",{codigoFornecedor:" + obj.Codigo + "}, \"#datatableFornecedor\", $(this).closest(\"tr\"))");
                        return botoes[0].outerHTML;
                    }
                }
            ]
        });
        $(".TipoPessoa[value=\"True\"]")[0].checked = true;
    </script>
}
