@model ProjetoArtCouro.Model.Models.Produto.ProdutoModel
@using ProjetoArtCouro.Resource.Resources
@using ProjetoArtCouro.Web.Infra.Extensions


<div class="jarviswidget jarviswidget-sortable"
     data-widget-editbutton="true" data-widget-colorbutton="true"
     data-widget-fullscreenbutton="true" data-widget-collapsed="true"
     data-widget-custombutton="true" data-widget-togglebutton="true"
     data-widget-sortable="true" data-widget-deletebutton="true" role="widget" style="">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>@Mensagens.Product </h2>
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>
    <div role="content">
        <div id="AlertaMensagens" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding"></div>
        <div class="widget-body no-padding">
            <form id="formProduto" class="smart-form" novalidate="novalidate">
                <fieldset class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <section class="col col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            @Html.LabelFor(m => m.Descricao, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.Descricao, new { placeholder = @Mensagens.Description, maxlength = "200" })
                            </label>
                            @Html.ValidationMessageFor(m => m.Descricao)
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.UnidadeId, new { @class = "label" })
                            <label class="select">
                                @Html.DropDownListFor(m => m.UnidadeId, new SelectList(ViewBag.Unidades, "Codigo", "Nome")
                                    .AddDefaultOption(Mensagens.Select))
                                <i></i>
                            </label>
                            @Html.ValidationMessageFor(m => m.UnidadeId)
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.PrecoCusto, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.PrecoCusto, new { placeholder = @Mensagens.PriceCost, @class = "DinheiroMask", maxlength = "12" })
                            </label>
                            @Html.ValidationMessageFor(m => m.PrecoCusto)
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.PrecoVenda, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.PrecoVenda, new { placeholder = @Mensagens.PriceSale, @class = "DinheiroMask", maxlength = "12" })
                            </label>
                            @Html.ValidationMessageFor(m => m.PrecoVenda)
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a id="AdicionarProduto" class="btn btn-primary" href="javascript:void(0);">
                        <i class="fa fa-plus"></i> @Mensagens.Add
                    </a>
                </footer>
            </form>
            <fieldset class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 WidgetFornecedor ScrollWidgetTable">
                <div class="jarviswidget jarviswidget-color-blueDark" data-widget-fullscreenbutton="false"
                     data-widget-colorbutton="false" data-widget-togglebutton="false"
                     data-widget-deletebutton="false" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Tabela de Produtos</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table id="datatableProduto" class="table table-striped table-bordered table-hover" width="100%"></table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/app/Search.js"></script>
    <script>
        Portal.Mask();
        Portal.Form({
            Button: $("#Salvar"),
            Form: $("#smart-form-register")
        });
        Portal.TabelaDinamica({
            AdicionaLinhaSeletor: "#AdicionarProduto",
            TabelaSeletor: "#datatableProduto",
            TituloRodape: "Produtos",
            TituloRodapeContador: "Nenhum produto adicionado",
            InformacaoTabela: "Adicione novos produtos",
            BotaoEditarSeletor: ".EditarProduto",
            BotaoExcluirSeletor: ".ExcluirProduto",
            LinhaCorrenteSeletor: "#LinhaCorrente",
            $Formulario: $("#formProduto"),
            Codigo: 0,
            UrlLista: "@Url.Action("ObterListaProduto", "Produto")",
            UrlCriar: "@Url.Action("NovoProduto", "Produto")",
            OrdenacaoDoCabecalho: [
                { "sTitle": "@(Mensagens.Code)", "mData": "ProdutoCodigo", "sWidth": "10%" },
                { "sTitle": "@(Mensagens.Description)", "mData": "Descricao", "sWidth": "40%" },
                { "sTitle": "@(Mensagens.PriceCost )", "mData": "PrecoCusto", "sWidth": "15%" },
                { "sTitle": "@(Mensagens.PriceSale )", "mData": "PrecoVenda", "sWidth": "15%" },
                { "sTitle": "@(Mensagens.Unit)", "mData": "UnidadeNome", "sClass": "center", "sWidth": "10%" },
                {
                    "sTitle": "@(Mensagens.Actions)",
                    "mData": null,
                    "sClass": "center",
                    "sWidth": "10%",
                    "bSortable": false,
                    "mRender": function(obj) {
                        var settings = JSON.stringify({
                            "objetoAdicional": { "name": "ProdutoCodigo", "value": obj.ProdutoCodigo },
                            "objetoExcluir": { "codigoProduto": obj.ProdutoCodigo },
                            "urlEditar": "/Produto/EditarProduto",
                            "urlExcluir": "/Produto/ExcluirProduto",
                            "seletorTabela": "#datatableProduto",
                            "seletorBotaoModalAtualizar": "#AtualizarProduto",
                            "seletorFormulario": "#formModalProduto",
                            "seletorModal": "#modalProduto"
                        });
                        var botoes = Portal.CriarBotoesTabelaDinamica(
                            "Portal.EditarItemTabelaDinamica(this, " + settings + ")",
                            "Portal.ExcluirItemTabelaDinamica(this, " + settings + ")",
                            "#modalProduto");
                        return botoes[0].outerHTML;
                    }
                }
            ]
        });
        Portal.PreencherCamposModal = function(obj) {
            $("#ModalDescricao").val(obj["Descricao"]);
            $("#ModalUnidadeId").val(obj["UnidadeId"]);
            $("#ModalPrecoCusto").val(obj["PrecoCusto"].replace(/[a-zA-Z][$]/g, "").trim());
            $("#ModalPrecoVenda").val(obj["PrecoVenda"].replace(/[a-zA-Z][$]/g, "").trim());
        }
    </script>
}

