@model ProjetoArtCouro.Model.Models.CondicaoPagamento.CondicaoPagamentoModel
@using ProjetoArtCouro.Resource.Resources


<div class="jarviswidget jarviswidget-sortable"
     data-widget-editbutton="true" data-widget-colorbutton="true"
     data-widget-fullscreenbutton="true" data-widget-collapsed="true"
     data-widget-custombutton="true" data-widget-togglebutton="true"
     data-widget-sortable="true" data-widget-deletebutton="true" role="widget" style="">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>@Mensagens.PaymentTerms </h2>
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>
    <div role="content">
        <div id="AlertaMensagens" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding"></div>
        <div class="widget-body no-padding">
            <form id="formCondicaoPagamento" class="smart-form" novalidate="novalidate">
                <fieldset class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @Html.LabelFor(m => m.Descricao, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.Descricao, new { placeholder = @Mensagens.Description, maxlength = 30 })
                            </label>
                            @Html.ValidationMessageFor(m => m.Descricao)
                        </section>
                        <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.QuantidadeParcelas, new { @class = "label" })
                            <label class="input">
                                @Html.TextBoxFor(m => m.QuantidadeParcelas, new { placeholder = @Mensagens.QuantityOfParcels })
                            </label>
                            @Html.ValidationMessageFor(m => m.QuantidadeParcelas)
                        </section>
                        <section class="col col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            @Html.LabelFor(m => m.Ativo, new { @class = "label" })
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.Ativo, true, new { data_text = @Mensagens.Yes })
                                    <i></i>@Mensagens.Yes
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.Ativo, false, new { data_text = @Mensagens.Not })
                                    <i></i>@Mensagens.Not
                                </label>
                            </div>
                            @Html.ValidationMessageFor(m => m.Ativo)
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a id="AdicionarCondicaoPagamento" class="btn btn-primary" href="javascript:void(0);">
                        <i class="fa fa-plus"></i> @Mensagens.Add
                    </a>
                </footer>
            </form>
            <fieldset class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 WidgetCondicaoPagamento ScrollWidgetTable">
                <div class="jarviswidget jarviswidget-color-blueDark" data-widget-fullscreenbutton="false"
                     data-widget-colorbutton="false" data-widget-togglebutton="false"
                     data-widget-deletebutton="false" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Tabela de Condições de Pagamento</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <table id="datatableCondicaoPagamento" class="table table-striped table-bordered table-hover" width="100%"></table>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/app/Search.js"></script>
    <script>
        Portal.Mask();
        Portal.Form({
            Button: $("#Salvar"),
            Form: $("#smart-form-register")
        });
        Portal.TabelaDinamica({
            AdicionaLinhaSeletor: "#AdicionarCondicaoPagamento",
            TabelaSeletor: "#datatableCondicaoPagamento",
            TituloRodape: "Condição de Pagamento",
            TituloRodapeContador: "Nenhuma condição de pagamento",
            InformacaoTabela: "Adicione novas condição de pagamento",
            BotaoEditarSeletor: ".EditarCondicaoPagamento",
            BotaoExcluirSeletor: ".ExcluirCondicaoPagamento",
            $Formulario: $("#formCondicaoPagamento"),
            UrlLista: "@Url.Action("ObterListaCondicaoPagamento", "CondicaoPagamento")",
            UrlCriar: "@Url.Action("NovaCondicaoPagamento", "CondicaoPagamento")",
            OrdenacaoDoCabecalho: [
                { "sTitle": "@(Mensagens.Code)", "mData": "CondicaoPagamentoCodigo", "sWidth": "10%" },
                { "sTitle": "@(Mensagens.Description)", "mData": "Descricao", "sWidth": "40%" },
                { "sTitle": "@(Mensagens.QuantityOfParcels)", "mData": "QuantidadeParcelas", "sWidth": "15%" },
                {
                    "sTitle": "@(Mensagens.Active)",
                    "mData": null,
                    "sWidth": "15%",
                    "mRender": function(obj) {
                        return obj.Ativo ? "Sim" : "Não";
                    }
                },
                {
                    "sTitle": "@(Mensagens.Actions)",
                    "mData": null,
                    "sClass": "center",
                    "sWidth": "10%",
                    "bSortable": false,
                    "mRender": function(obj) {
                        var settings = JSON.stringify({
                            "objetoAdicional": { "name": "CondicaoPagamentoCodigo", "value": obj.CondicaoPagamentoCodigo },
                            "objetoExcluir": { "codigoCondicaoPagamento": obj.CondicaoPagamentoCodigo },
                            "urlEditar": "/CondicaoPagamento/EditarCondicaoPagamento",
                            "urlExcluir": "/CondicaoPagamento/ExcluirCondicaoPagamento",
                            "seletorTabela": "#datatableCondicaoPagamento",
                            "seletorBotaoModalAtualizar": "#AtualizarCondicaoPagamento",
                            "seletorFormulario": "#formModalCondicaoPagamento",
                            "seletorModal": "#modalCondicaoPagamento"
                        });
                        var botoes = Portal.CriarBotoesTabelaDinamica(
                            "Portal.EditarItemTabelaDinamica(this, " + settings + ")",
                            "Portal.ExcluirItemTabelaDinamica(this, " + settings + ")",
                            "#modalCondicaoPagamento");
                        return botoes[0].outerHTML;
                    }
                }
            ]
        });
        Portal.LimparCampos = function () {
            $("#Descricao").val("");
            $("#Ativo").closest(".inline-group").find(":checked")[0].checked = false;
            $("#QuantidadeParcelas").val("");
        }
        Portal.PreencherCamposModal = function(obj) {
            $("#ModalCondicaoPagamentoDescricao").val(obj["Descricao"]);
            $("#ModalCondicaoPagamentoAtivo").closest(".inline-group").find("input[value=" + obj["Ativo"].toString().capitalize() + "]")[0].checked = true;
            $("#ModalCondicaoPagamentoQuantidadeParcelas").val(obj["QuantidadeParcelas"]);
        }
    </script>
}