@model ProjetoArtCouro.Models.Registers.PersonModelView
@using AutoMapper
@using ProjetoArtCouro.Extensions.HtmlHelperExtensions
@using ProjetoArtCouro.Models.Registers
@using ProjetoArtCouroResources

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Cadastro";
    ViewBag.SubTitle = "Pessoa Fisíca";
}

@Html.ValidationSummaryBootstrap()
<div class="jarviswidget jarviswidget-sortable" id="wid-id-8"
    data-widget-editbutton="true" data-widget-colorbutton="true"
    data-widget-fullscreenbutton="true" data-widget-collapsed="true"
    data-widget-custombutton="true" data-widget-togglebutton="true"
    data-widget-sortable="true" data-widget-deletebutton="true" role="widget" style="">
    <!-- widget options:
					usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
					
					data-widget-colorbutton="false"	
					data-widget-editbutton="false"
					data-widget-togglebutton="false"
					data-widget-deletebutton="false"
					data-widget-fullscreenbutton="false"
					data-widget-custombutton="false"
					data-widget-collapsed="true" 
					data-widget-sortable="false"
					
				-->
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>Formulario de Registro </h2>

        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>

    <!-- widget div-->
    <div role="content">
        <!-- widget content -->
        <div class="widget-body no-padding">
            @using (Html.BeginForm("CreatePhysicalPerson", "Registers", FormMethod.Post, new { id = "smart-form-register", @class = "smart-form", novalidate = "novalidate" }))
            {
                @Html.HiddenFor(m => m.TypePerson)
                @Html.Partial("_PhysicalPerson", Mapper.Map<PhysicalPersonModelView>(Model))
                @Html.Partial("_Address", Mapper.Map<AddressModelView>(Model))
                <footer>
                    <ul class="demo-btns">
                        <li>
                            <a href="#" class="btn btn-labeled btn-primary" id="Salvar"><span class="btn-label"><i class="glyphicon glyphicon-save"></i></span>@Resource.Save </a>
                        </li>
                    </ul>
                </footer>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script>
        Default.Mask();
        Default.Form({
            Button: $("#Salvar"),
            Form: $("#smart-form-register")
        });
    </script>
}