@model  ProjetoArtCouro.Model.Models.Usuario.GrupoModel
@using ProjetoArtCouro.Resource.Resources

<div class="jarviswidget jarviswidget-sortable"
     data-widget-editbutton="true" data-widget-colorbutton="true"
     data-widget-fullscreenbutton="true" data-widget-collapsed="true"
     data-widget-custombutton="true" data-widget-togglebutton="true"
     data-widget-sortable="true" data-widget-deletebutton="true" role="widget" style="">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>@ViewBag.SubTitle </h2>
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>
    <div role="content">
        <div class="widget-body no-padding">
            <form id="formularioGrupo" class="smart-form" novalidate="novalidate">
                <fieldset class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <section id="AlertaMensagens" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin"></section>
                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.GrupoNome, new {@class = "label"})
                            <label class="input">
                                @Html.TextBoxFor(m => m.GrupoNome, new {placeholder = @Mensagens.GroupName, MaxLength = "30", @class = "SomenteLetraMask text-transform-uppercase"})
                            </label>
                            @Html.ValidationMessageFor(m => m.GrupoNome)
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @Html.LabelFor(m => m.PermissaoId, new {@class = "label"})
                            <label class="select">
                                @Html.DropDownListFor(m => m.PermissaoId, new SelectList(ViewBag.Permissoes, "Codigo", "Nome"), new {multiple = "multiple"})
                            </label>
                            @Html.ValidationMessageFor(m => m.PermissaoId)
                        </section>
                    </div>
                    @Html.HiddenFor(m => m.GrupoCodigo)
                </fieldset>
                <footer>
                    <a id="SalvarGrupo" class="btn btn-primary" href="javascript:void(0);">
                        <i class="fa fa-floppy-o"></i> @Mensagens.Save
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>