@model ProjetoArtCouro.Model.Models.Usuario.PesquisaUsuarioModel
@using ProjetoArtCouro.Resources.Resources
@using ProjetoArtCouro.Web.Infra.Extensions

<div class="jarviswidget jarviswidget-sortable"
     data-widget-editbutton="true" data-widget-colorbutton="true"
     data-widget-fullscreenbutton="true" data-widget-collapsed="true"
     data-widget-custombutton="true" data-widget-togglebutton="true"
     data-widget-sortable="true" data-widget-deletebutton="true" role="widget" style="">
    <header role="heading">
        <span class="widget-icon"><i class="fa fa-edit"></i></span>
        <h2>@Mensagens.SearchUser </h2>
        <span class="jarviswidget-loader"><i class="fa fa-refresh fa-spin"></i></span>
    </header>
    <div role="content">
        <div class="widget-body no-padding">
            <form id="formPesquisaUsuario" class="smart-form" novalidate="novalidate">
                <fieldset>
                    <div class="row">
                        <section id="AlertaMensagens" class="col col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin"></section>
                    </div>
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            @Html.LabelFor(m => m.UsuarioNome, new {@class = "label"})
                            <label class="input">
                                @Html.TextBoxFor(m => m.UsuarioNome, new {placeholder = @Mensagens.UserName})
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            @Html.LabelFor(m => m.GrupoId, new {@class = "label"})
                            <label class="select">
                                @Html.DropDownListFor(m => m.GrupoId, new SelectList(ViewBag.Grupos, "GrupoCodigo", "GrupoNome")
                                    .AddDefaultOption(Mensagens.Select))
                                <i></i>
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            @Html.LabelFor(m => m.Ativo, new {@class = "label"})
                            <div class="inline-group">
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.Ativo, true)
                                    <i></i>@Mensagens.Yes
                                </label>
                                <label class="radio">
                                    @Html.RadioButtonFor(m => m.Ativo, false)
                                    <i></i>@Mensagens.Not
                                </label>
                            </div>
                        </section>
                    </div>
                </fieldset>
                <footer>
                    <a id="PesquisarUsuario" class="btn btn-labeled btn-primary" href="javascript:void(0);">
                        <span class="btn-label"><i class="fa fa-search"></i></span> @Mensagens.Research
                    </a>
                    <a id="NovoUsuario" class="btn btn-labeled btn-success" href="@Url.Action("NovoUsuario", "Usuario")">
                        <span class="btn-label"><i class="fa fa-file-o"></i></span> @Mensagens.New
                    </a>
                </footer>
            </form>
        </div>
    </div>
</div>

<fieldset class="WidgetUsuario ScrollWidgetTable">
    <div class="jarviswidget jarviswidget-color-blueDark" data-widget-fullscreenbutton="false"
         data-widget-colorbutton="false" data-widget-togglebutton="false"
         data-widget-deletebutton="false" data-widget-editbutton="false">
        <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Tabela de Usuários</h2>
        </header>
        <div class="ScrollTableContent">
            <div class="widget-body no-padding">
                <table id="datatableUsuario" class="table table-striped table-bordered table-hover" width="100%"></table>
            </div>
        </div>
    </div>
</fieldset>

@section Scripts{
    <script src="~/js/app/Search.js"></script>
    <script>
        Portal.Mask();
        Portal.Form({
            Button: $("#Salvar"),
            Form: $("#smart-form-register")
        });
        Portal.Search({
            AlertaMensagensSeletor: "#AlertaMensagens",
            BotaoPesquisarSeletor: "#PesquisarUsuario",
            FormularioSeletor: "#formPesquisaUsuario",
            UrlDados: "@Url.Action("PesquisaUsuario", "Usuario")",
            TabelaSeletor: "#datatableUsuario",
            WidgetSeletor: ".WidgetUsuario",
            TituloRodape: "Usuários",
            InformacaoTabela: "Informe os filtros para pesquisar",
            TituloRodapeContador: "Nenhum usuário",
            OrdenacaoDoCabecalho: [
                { "sTitle": "@(Mensagens.UserCode)", "mData": "UsuarioCodigo", "sWidth": "20%" },
                { "sTitle": "@(Mensagens.UserName)", "mData": "UsuarioNome", "sWidth": "60%" },
                {
                    "sTitle": "@(Mensagens.Active)",
                    "mData": null,
                    "sClass": "smart-form",
                    "bSortable": false,
                    "sWidth": "10%",
                    "mRender": function (obj) {
                        var div = $("<div>").attr({
                            "class": "col-12"
                        });

                        var label = $("<label>").attr({
                            "class": "checkbox state-disabled"
                        });

                        var input = $("<input>").attr({
                            "type": "checkbox",
                            "name": "checkbox",
                            "disabled": "disabled"
                        });
                        if (obj.Ativo) {
                            $(input).attr({
                                "checked": "checked"
                            });
                        }

                        var i = $("<i>");

                        label.append(input);
                        label.append(i);
                        div.append(label);
                        return div[0].outerHTML;
                    }
                },
                {
                    "sTitle": "@(Mensagens.Actions)",
                    "mData": null,
                    "sClass": "center",
                    "bSortable": false,
                    "sWidth": "10%",
                    "mRender": function (obj) {
                        var url = "/Usuario/EditarUsuario" + "?codigoUsuario=" + obj.UsuarioCodigo;
                        var botoes = Portal.CriarBotoes(url,
                                "Portal.RequisicaoDeletarLinha(\"/Usuario/ExcluirUsuario\",{codigoUsuario:" + obj.UsuarioCodigo + "}, \"#datatableUsuario\", $(this).closest(\"tr\"))");
                        return botoes[0].outerHTML;
                    }
                }
            ]
        });
    </script>
}

